@import "../../../styles/colors.scss";
@import "../../../styles/global.scss";

$black-color: #222;
$orange-color: #ff6801;
$grey-light: #999;
$border-color: #ebebeb;

.infoContainer {
    padding: 50px 100px 50px 70px;
    width: 90%;

    .header {
        line-height: 2.5rem;
        text-align: left;
        border-radius: 6px;
        @extend %boxshadow;
        margin-bottom: 10px;
        padding: 2px 0 2px 5px;
        font-family: "Montserrat";
        font-weight: 500;
        font-size: 13px;
    }

    .content {
        width: 80%;
        display: flex;

        .cardInfo {
            padding: 0px 20px;
        }
    }

    img {
        padding: 5px 0px 5px 20px;
        width: 300px;
    }
}
